//Размеры
sizes.vertical-step = 9px  // вертикальный ритм

//Палитра
colors.default = #000      // Черный
colors.white   = #fff      // Белый
colors.text    = #000      // Черный
colors.link    = #0FB7FF   // Синий
colors.foot    = #E9ECEF   // Серый
colors.grid    = #000      // Черный
colors.bg      = #41B883

// Шрифтовые стили
fonts.pt-sans = font-stack("PT Sans", sans-serif)

text.sans-body = {
  font-family: fonts.pt-sans,
  font-size: 14px,
  line-height: 17px
}

// PT Sans
webfonts.pt-sans-regular = {
  font-family: "PT Sans",
  font-file: "pt-sans/pt-sans-r400.%s",
  font-style: normal,
  font-weight: normal
}

webfonts.pt-sans-bold = {
  font-family: "PT Sans",
  font-file: "pt-sans/pt-sans-r700.%s",
  font-style: normal,
  font-weight: bold
}